table{
    width: 100%;
    border-collapse: collapse;
}
tr:not( :last-child ) td, th{
    border: 1px solid rgb(133, 123, 123);
}
tr:nth-child(even):not( :last-child ){
    background: rgb(196, 160, 160);
}
tr:not( :last-child ):hover{
    background: rgb(105, 89, 104);
}